<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780722822941-b0psmrdgoieitnqmurck6b3eoju59tgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780722822941-b0psmrdgoieitnqmurck6b3eoju59tgb</string>
	<key>API_KEY</key>
	<string>AIzaSyBfWH0EBV2G-hWXEMKE8S8pgULdA5kKN0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>780722822941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>othmanshahrouri.FirestoreDemo</string>
	<key>PROJECT_ID</key>
	<string>firestore--demo-4fb3c</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore--demo-4fb3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:780722822941:ios:8c2c621e07525de62ecbf4</string>
</dict>
</plist>
